.mainbg{
	background-color: #FFE1FF;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;	
	z-index: -1;
}
.paper{
	margin: 20px auto;
	background-color: white; 
	max-height: 650px;
	overflow: hidden;
}
.title{
	padding-top: 10px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;	
}
.basic{
	margin: 0px auto;
	text-align: center;
	width: 100%;
	height: 30px;
}

.hr{
	height: 2px;
	background-color: #9BCD9B; 	
}
.content{
	padding: 10px;
}
