<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button #button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav-niceblog" (click)="toggle(button)">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="main" class="navbar-brand">
                NiceBlog
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-niceblog" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="dropdown libox">
                    <a routerLink="main">首页</a>
                </li>
               <li class="dropdown">
                <a routerLink="paperlist">文章列表</a>
              </li>
                <li class="dropdown">
                <a routerLink="editor">新增文章</a>
              </li>       
               <li class="dropdown">
                <a routerLink="comments">留言</a>
              </li>
            </ul>
             <ul *ngIf="!currentUser?.userName" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="user/login">登录</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="user">注册</a>
                </li>
            </ul>
            <ul *ngIf="currentUser?.userName" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a routerLink="user">{{currentUser?.userName}}</a>
                </li>
        <!--         <li routerLinkActive="active">
                    <a routerLink="manage">管理</a>
                </li> -->
                <li>
                    <a (click)="doLogout()">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 主体内容区域 -->
<div class="container main-container">
     <div class="col-md-9">
        <router-outlet></router-outlet>
     </div>
    <div class="col-md-3">
       
     </div>
   
</div>
<!-- 底部区域 -->
<div class="footer bs-footer">
    <div class="container">
        <div class="row">
            <p>
                Powered by <a href="http://git.oschina.net/mumu-osc/NiceFish" target="_blank">NiceFish</a>
            </p>
        </div>
    </div>
</div>
